.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*.pdf
tmp/restart.txt
*.swp
*~
*.orig
*.swo
rerun.txt*
.loadpath
.project
.autotest
Thumbs.db
.DS_Store
test.sh
.idea/**
public/**/DO_NOT_EDIT
tmp/*
nbproject
